<a href="https://colab.research.google.com/github/SamuelCano03/DataScienceCC51/blob/main/S10/03_Ecommerce_Compras_Ejercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a> <img src='https://www.python.org/static/img/python-logo.png' /></a>
___
# Ecommerce Compras Ejercicios

En este ejercicio, se le proporcionarán algunos datos falsos sobre algunas compras realizadas a través de Amazon. Simplemente siga las instrucciones y haga todo lo posible para responder las preguntas y completar las tareas. No dude en consultar las soluciones. La mayoría de las tareas se pueden resolver de diferentes formas. En su mayor parte, las preguntas se vuelven cada vez más difíciles.

Disculpe cualquier cosa que no tenga sentido del "mundo real" en el marco de datos, todos los datos son falsos y están inventados.

También tenga en cuenta que todas estas preguntas se pueden responder con una línea de código.
____
**Importar Pandas y leer el archivo csv de compras de comercio electrónico y configúrelo en un DataFrame llamado ecom.**

In [1]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Cargar el archivo csv Ecommerce Compras
df=pd.read_csv('/content/drive/MyDrive/Universidad/5to ciclo/Fundamentos de Data Science CC51/S10/04-Pandas-Ejercicios/Ecommerce Compras')

In [15]:
df.shape

(10000, 14)

In [16]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**Verifique el encabezado del DataFrame.**

**¿Cuántas filas y columnas hay?**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**¿Cuál es el precio de compra medio?**

In [ ]:
df["Purchase Price"].mean()

50.347302

50.34730200000025

**¿Cuáles fueron los precios de compra más altos y más bajos?**

In [ ]:
df["Purchase Price"].max()

99.99

In [ ]:
df["Purchase Price"].min()

0.0

**¿Cuántas personas tienen el inglés "en" como idioma de elección en el sitio web?**

In [25]:
df[df["Language"]=="en"].count() #pura intuición bruh

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

**¿Cuántas personas tienen el puesto de "Lawyer" (Abogado)?**

In [33]:
df[df['Job']=='Lawyer']['Job'].value_counts()

Lawyer    30
Name: Job, dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

**Cuántas personas realizaron la compra durante la mañana (AM) y cuántas personas realizaron la compra durante la tarde (PM)?**

**(Ayuda: Chequear [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [43]:
df.groupby('AM or PM')[['AM or PM']].value_counts()

AM or PM
AM    4932
PM    5068
dtype: int64

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**¿Cuáles son los 5 títulos de trabajo más comunes?**

In [47]:
df['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

**Alguien hizo una compra que provenía del lote: "90 WT", ¿cuál fue el precio de compra para esta transacción?**

In [48]:
df[df['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

513    75.1
Name: Purchase Price, dtype: float64

**¿Cuál es el correo electrónico de la persona con el siguiente número de tarjeta de crédito: 4926535242672853?**

In [49]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**¿Cuántas personas tienen American Express como su proveedor de tarjeta de crédito * y realizaron una compra por encima de $ 95?**

In [62]:
((df["CC Provider"] == "American Express") & (df['Purchase Price'] > 95)).sum() #ta mejor esta forma. Atte: CHAT GPT

39

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**Difícil: ¿Cuántas personas tienen una tarjeta de crédito que vence en 2025?**

In [75]:
cnt=0
for e in df['CC Exp Date']:
  if e[2:]=="**/25"[2:]:
    cnt=cnt+1
cnt

1033

1033

**Difícil: ¿Cuáles son los 5 proveedores / hosts de correo electrónico más populares (por ejemplo, gmail.com, yahoo.com, etc.)**

In [77]:
df['Email'].str.split('@').str.get(1).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!